# Ignore compiled files
*.o
*.out

# Ignore dependencies
node_modules
bower_components

# Ignore build artifacts
/build
/dist

# Ignore IDE and editor files
/.vscode
/.idea
*.iml

# Ignore logs and temporary files
/log
/tmp

# Ignore sensitive or environment-specific information
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore backup files
*~

node_modules
.gradle